body{
    background-color: #534378;
    color: #C1ADDE;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #261C33;
}
h2{
    text-align: center;
    color: #372447;
}
#wynik {
    border: 2px solid;
    padding: 30px;
    font-size: 1.5rem;
    margin-top: 15px;
}
#l {
    display: inline-block;
    text-align: center;
    border: 3px solid #261C33;
    padding: 10px;
    margin: 2px;
}