* {
    background-color: #364958;
    color: #c9e4ca;
    font-family: Arial, sans-serif;
}
h1 {
    color: #55828B;
}
h2{
    color: #497479;
}
h3  {
    color: #87BBA2;
}
header  {
    text-align: center;
}
dl > dt {
    color: #55828B;
}